<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-708082195/ggZhCLe6jqwDEJP00dEC',
      'event_callback': callback
  });
  return false;
}
  var atags = document.getElementsByClassName("post-link");
  for (var i = 0 ; i < atags.length; i++) {
   atags[i].addEventListener("click", function() {
     var url = atags[i].href;
     gtag_report_conversion(url);
    }); 
} 
</script>
  </body>

</html>
